
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Ankit Bisht</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/ankit.jpeg' %}" >
					<hr>
					<h4>Hi I'm Ankit Bisht!</h4>
					<p>I am a full stack web developer</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>About me</h4>
					<hr>
					<p> Dedicated and detail-oriented Systems Engineer at Tata Consultancy Services with a proven track record in enhancing client satisfaction through diligent system monitoring and efficient issue resolution. Expertise in MSSQL, SSIS, SnapLogic, and Azure, with practical experience in developing SnapLogic pipelines. Adept in modern web technologies including Python Django, HTML, CSS, JavaScript, AWS, and Azure, with a portfolio of personal projects showcased on GitHub.</p>

					<ul class="social-links">
						
						<li><a href="https://linkedin.com/in/ankitbisht007" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg" alt="ankitbisht007" height="30" width="40" /></a></li>
						<li><a href="https://twitter.com/ankit_bisht4" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/twitter.svg" alt="ankit_bisht4" height="30" width="40" /></a></li>
						<li><a href="https://replit.com/@ankitbisht0107" target="blank"><img align="center" src="https://cdn.sanity.io/images/bj34pdbp/migration/3c2f2d404a571d2c9fbca934360352698d63433a-1920x900.png" alt="ankitbisht01" height="30" width="40" /></a></li>
						<li><a href="https://github.com/Ankitbisht01" target="blank"><img align="center" src="https://seeklogo.com/images/G/github-logo-7880D80B8D-seeklogo.com.png" alt="ankitbisht01" height="30" width="40" /></a></li>
						
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Experience</h5>
					<hr>
					<h6>Systems Engineer <br>
						Tata Consultancy Services <br>
						February 2022 – Present <br>
					</h6>

					<p>Supported client projects by monitoring systems, APIs, services, applications, and servers.</p>
					<p>Ensured optimal client user experience by promptly triaging and resolving issues.</p>
					<p>Developed and managed SnapLogic pipelines to streamline data integration processes.</p>
					<p>Utilized MSSQL, SSIS, SnapLogic, and Azure for efficient project execution.</p>
					<p>Continuously expanded technical skillset with Python Django, HTML, CSS, JavaScript, AWS and version control systems Git.</p>
					<p>Developed and showcased personal projects on GitHub, demonstrating a commitment to continuous learning and innovation.
					</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Education</h5>
					<hr>
					<h6>Bachelor's of Technology in Electrical Engineering </h6>
						<p>G B Pant Institute of Enginerring and Technology, Pauri Garhwal <br>
						Aug 2021</p>
					
					<hr>
					<h6>Intermediate </h6>
						<p>Universal Convent Senior Secondary School, Haldwani Uttarakhand <br>
						March 2015 </p>
					
					<hr>
					<h6>Intermediate </h6>
						<p>Universal Convent Senior Secondary School, Haldwani Uttarakhand <br>
						March 2013 </p>
					<hr>
					
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I know</h5>
					<hr>
					<p>Python, Django, HTML/CSS, JavaScript/Jquery, React, Postgres,MSSQL,Snaplogic, AWS and APIs </p>

					<p>PS: Working on Node JS, Mongo DB and Machine Learning.</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Projects</h5>
				<hr>
				<p>Adding soon!!</p>
				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>